body {
  margin: 0;
  padding: 0;
  background-image: url('chessBoard.png');
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-size: cover;
  /* TODO Work on background size */
  opacity: 0.85; /* The closer to 1, the more opaque it gets */
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


#Heading {
  color: blue;
  position: absolute;
  top: 1%; 
  font-size: 40px;
}
#Input {
  position: absolute;
  top: 20%;
  left: 1%;
}

#Response {
  position: absolute;
  right: 1%;
  top: 50%;
  font-size: 25px;
}